---
# Default user for all hosts.
ansible_user: ubuntu
# Leave as ubuntu if using ubuntu, othersiw substitue in appropriate default user

# Default ssh private key when contacting hosts
ansible_ssh_private_key_file:
# Key should be placed in the keys/ directory with mode 600
# e.g. ansible_ssh_private_key_file: keys/ansible-controller-key

